@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Merriweather", serif;
}

/* CABEÇALHO DO SITE */
header {
    padding: 80px;
    background-color: #20130a;
    font-weight: 400;
}
header .cabeçalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header i {
    color: aliceblue;
    font-size: 80px;
}
header h1 {
    font-size: 50px;
    color: white;
}
header nav ul {
    display: flex;
    gap: 20px;
}
header nav ul li a {
    text-decoration: none;
    color: white;
}

main {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.534) 8.33%, rgba(59, 59, 59, 0.562) 100%), url(Imagem/feedback.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.feedback {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback h2{
    margin-top: 200px;
    color: white;
    font-size: 40px;
}
.feedback form {
    padding: 20px;
    background:linear-gradient(180deg, rgba(0, 0, 0, 0.911) 8.33%, rgba(54, 54, 54, 0.76) 100%);
    width: 450px;
    border-radius: 15px;
    box-shadow: 2px 2px 15px black;
    margin-bottom: 200px;
}
label {
    color: white;
}
div h5 {
    font-size: 22px;
    font-weight: 600;
    margin: 7px; 
}
div .n1 {
    width: 30px;
    height: 30px;
    margin:  15px 5px;
}
div .n1:hover {
    transition: 0.6s;
    background-color: red;
    color: white;
    font-weight: 900;
    cursor: pointer;
}


div .n2 {
    width: 30px;
    height: 30px;
    margin:  15px 5px;
}
div .n2:hover {
    transition: 0.6s;
    background-color: rgb(255, 145, 0);
    color: white;
    font-weight: 900;
    cursor: pointer;
}


div .n3 {
    width: 30px;
    height: 30px;
    margin:  15px 5px;
}
div .n3:hover {
    transition: 0.6s;
    background-color: yellow;
    color: black;
    font-weight: 900;
    cursor: pointer;
}


div .n4 {
    width: 30px;
    height: 30px;
    margin:  15px 5px;
}
div .n4:hover {
    transition: 0.6s;
    background-color: blue;
    color: white;
    font-weight: 900;
    cursor: pointer;
}


div .n5 {
    width: 30px;
    height: 30px;
    margin:  15px 5px;
}
div .n5:hover {
    transition: 0.6s;
    background-color: green;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}



footer {
    padding: 30px;
    background-color: #20130a;
    font-weight: 400;
}
.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primeiro i {
    color: aliceblue;
    font-size: 80px;
}
.primeiro hr {
    width: 80px;
}
.segundo ul {
    display: flex;
    gap: 40px;
}
.segundo ul li i {
    font-size: 60px;
    color: white;
    transition: 0.6s;
}
.segundo #instagram:hover {
    transition: 0.6s;
    color: rgb(239, 62, 255);
}
.segundo #telegram:hover {
    transition: 0.6s;
    color: rgb(41, 187, 255);
}
.segundo #zap:hover {
    transition: 0.6s;
    color: rgb(67, 255, 61);
}
.terceiro nav ul li {
    margin: 15px;
}
.terceiro nav ul li a {
    text-decoration: none;
    color: white;
}